body {
  font-weight: bold;
  display: flex;
  text-transform: uppercase;
  box-sizing: border-box;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  background: #98f5e1;
  height: 100vh;
}
