#locBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 1.6vw;
  font-weight: 300;
  margin: 2.5vw;
}

#location {
  position: relative;
  margin-top: 15vh;
}

#location label {
  font-size: 3vh;
  margin: 20px;
}
input#city {
  font-size: 3vh;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 5vh;
  border-radius: 6px;
  text-align: center;
  padding: 15px;
}

button#submit {
  margin: 20px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
  font-size: 3vh;
  background: radial-gradient(
    circle,
    rgba(169, 248, 209, 1) 0%,
    rgba(163, 196, 243, 1) 100%
  );
}
// @media (min-width: 45rem) #location {
// }
